
@{
    ViewBag.Title = "Personal Information";
}

<h2 align="center">Personal Information</h2>
<table class="table table-striped">
    <tbody>
        <tr>
            <th scope="row">Father's Name</th>
            <td>:&nbsp;&nbsp;Abul Kashem Azad Khan </td>
        </tr>
        <tr>
            <th scope="row">Mother's Name </th>
            <td>:&nbsp;&nbsp;Tahmnina Ferdousi</td>
        </tr>
        <tr>
            <th scope="row">Date of Birth </th>
            <td>:&nbsp;&nbsp;4 november, 1999</td>
        </tr>
        <tr>
            <th scope="row">Gender</th>
            <td>:&nbsp;&nbsp;Male</td>
        </tr>
        <tr>
            <th scope="row">Height</th>
            <td>:&nbsp;&nbsp;5’.7”</td>
        </tr>
        <tr>
            <th scope="row">Blood Group</th>
            <td>:&nbsp;&nbsp;B(+ve)</td>
        </tr>
        <tr>
            <th scope="row">Marital Status</th>
            <td>:&nbsp;&nbsp;Single</td>
        </tr>
        <tr>
            <th scope="row">Nationality</th>
            <td>:&nbsp;&nbsp;Bangladeshi </td>
        </tr>
        <tr>
            <th scope="row">Religion</th>
            <td>:&nbsp;&nbsp;Islam</td>
        </tr>
        <tr>
            <th scope="row">Permanent Address</th>
            <td>:&nbsp;&nbsp;Vill: Sador, P/O: Barisal, P/S: Barisal, Dist: Barisal</td>
        </tr>
</table>