
@{
    ViewBag.Title = "Projects";
}

<h2 align="center"><u>Projects</u></h2>
<div>
    <h3>&nbsp; 1.Hospital Management Website</h3><br>
    <p>
        &nbsp; &nbsp; &nbsp; It's a hospital management system with emergency services and online medical support. The project consists of four
        different users. They are 1. Admin 2. Doctor 3. Nurse 4. Patient. Here Admin is the head.<br>
        <a href="https://github.com/TahirAzadKhan/Webtech_Hospital-Website" class="btn-block" target="_blank">&nbsp;&nbsp;<br>Git Link</a>
        <br>
    </p>
</div>
<div>
    <h3>&nbsp; 2.Short animation film</h3><br>
    <p>
        &nbsp; &nbsp; &nbsp; This is a short animation film using opengl.<br>
        <a href="https://github.com/TahirAzadKhan/Animation-with-c-Computer-Graphics-" class="btn-block" target="_blank">&nbsp;&nbsp;<br>Git Link</a>
        <br>
    </p>
</div>



